In [1]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [2]:
# Imports
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.preprocessing import StandardScaler
from sklearn.cluster import KMeans

In [3]:
df = pd.read_csv('/content/drive/MyDrive/DS-CodingDojoColab/Project2/Zip_ZORI_AllHomesPlusMultifamily_SSA.csv')
df.head()

   RegionID  RegionName  SizeRank  ... 2020-10  2020-11  2020-12
0     61639       10025         1  ...  2985.0   2938.0   2891.0
1     84654       60657         2  ...  1777.0   1770.0   1762.0
2     61637       10023         3  ...  3029.0   2983.0   2937.0
3     91982       77494         4  ...  1807.0   1810.0   1814.0
4     84616       60614         5  ...  1909.0   1897.0   1885.0

[5 rows x 88 columns]

In [5]:
df.shape

(2263, 88)