# Rental Rates of Major Metro Markets
## Machine Learning Model based off data provided by Zillow.com

Zillow Observed Rent Index (ZORI): A smoothed measure of the typical observed market rate rent across a given region. ZORI is a repeat-rent index that is weighted to the rental housing stock to ensure representativeness across the entire market, not just those homes currently listed for-rent. The index is dollar-denominated by computing the mean of listed rents that fall into the 40th to 60th percentile range for all homes and apartments in a given region, which is once again weighted to reflect the rental housing stock. Details available in ZORI methodology.
https://www.zillow.com/research/methodology-zori-repeat-rent-27092/

In [56]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [57]:
# Imports
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

from sklearn import preprocessing
from sklearn.model_selection import train_test_split, GridSearchCV
from sklearn.cluster import DBSCAN, KMeans
from sklearn.pipeline import Pipeline
from sklearn.impute import SimpleImputer
from sklearn.preprocessing import StandardScaler
from sklearn.metrics import f1_score, classification_report, silhouette_score
from sklearn.preprocessing import StandardScaler, OneHotEncoder
from sklearn.base import BaseEstimator, TransformerMixin
from sklearn.linear_model import LogisticRegression
from sklearn.ensemble import BaggingClassifier, RandomForestClassifier
from sklearn.neighbors import KNeighborsClassifier

In [58]:
df = pd.read_csv('/content/drive/MyDrive/DS-CodingDojoColab/Project2/Zip_ZORI_AllHomesPlusMultifamily_SSA.csv')
df.tail()

      RegionID  RegionName  SizeRank  ... 2020-10  2020-11  2020-12
2258     61618       10004      8842  ...  2860.0   2803.0   2747.0
2259     58622        2108      8986  ...  2681.0   2664.0   2647.0
2260     72525       33306      9047  ...  1513.0   1516.0      NaN
2261     58624        2110      9469  ...  4093.0   4037.0   3980.0
2262     66128       20004      9592  ...  2408.0   2401.0   2394.0

[5 rows x 88 columns]

I can already see in the last 5 rows alone that there are some NaN null values... let's get some basic info and find null values.

In [61]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2263 entries, 0 to 2262
Data columns (total 88 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   RegionID    2263 non-null   int64
 1   RegionName  2263 non-null   int64
 2   SizeRank    2263 non-null   int64
 3   MsaName     2263 non-null   object
 4   2014-01     1726 non-null   float64
 5   2014-02     1785 non-null   float64
 6   2014-03     1740 non-null   float64
 7   2014-04     1961 non-null   float64
 8   2014-05     2030 non-null   float64
 9   2014-06     2094 non-null   float64
 10  2014-07     2129 non-null   float64
 11  2014-08     2119 non-null   float64
 12  2014-09     2113 non-null   float64
 13  2014-10     2062 non-null   float64
 14  2014-11     2022 non-null   float64
 15  2014-12     2027 non-null   float64
 16  2015-01     2066 non-null   float64
 17  2015-02     2060 non-null   float64
 18  2015-03     2144 non-null   float64
 19  2015-04     2146 non-null   float64
 20  2015-05     2184 non-null   float64
 21  2015-06     2211 non-null   float64
 22  2015-07     2223 non-null   float64
 23  2015-08     2210 non-null   float64
 24  2015-09     2210 non-null   float64
 25  2015-10     2141 non-null   float64
 26  2015-11     2196 non-null   float64
 27  2015-12     2145 non-null   float64
 28  2016-01     2183 non-null   float64
 29  2016-02     2191 non-null   float64
 30  2016-03     2199 non-null   float64
 31  2016-04     2218 non-null   float64
 32  2016-05     2231 non-null   float64
 33  2016-06     2235 non-null   float64
 34  2016-07     2233 non-null   float64
 35  2016-08     2233 non-null   float64
 36  2016-09     2236 non-null   float64
 37  2016-10     2197 non-null   float64
 38  2016-11     2234 non-null   float64
 39  2016-12     2204 non-null   float64
 40  2017-01     2232 non-null   float64
 41  2017-02     2232 non-null   float64
 42  2017-03     2244 non-null   float64
 43  2017-04     2250 non-null   float64
 44  2017-05     2251 non-null   float64
 45  2017-06     2251 non-null   float64
 46  2017-07     2252 non-null   float64
 47  2017-08     2258 non-null   float64
 48  2017-09     2253 non-null   float64
 49  2017-10     2240 non-null   float64
 50  2017-11     2246 non-null   float64
 51  2017-12     2231 non-null   float64
 52  2018-01     2243 non-null   float64
 53  2018-02     2250 non-null   float64
 54  2018-03     2252 non-null   float64
 55  2018-04     2245 non-null   float64
 56  2018-05     2254 non-null   float64
 57  2018-06     2257 non-null   float64
 58  2018-07     2254 non-null   float64
 59  2018-08     2253 non-null   float64
 60  2018-09     2258 non-null   float64
 61  2018-10     2251 non-null   float64
 62  2018-11     2254 non-null   float64
 63  2018-12     2245 non-null   float64
 64  2019-01     2246 non-null   float64
 65  2019-02     2258 non-null   float64
 66  2019-03     2258 non-null   float64
 67  2019-04     2253 non-null   float64
 68  2019-05     2257 non-null   float64
 69  2019-06     2255 non-null   float64
 70  2019-07     2254 non-null   float64
 71  2019-08     2256 non-null   float64
 72  2019-09     2256 non-null   float64
 73  2019-10     2250 non-null   float64
 74  2019-11     2254 non-null   float64
 75  2019-12     2254 non-null   float64
 76  2020-01     2259 non-null   float64
 77  2020-02     2249 non-null   float64
 78  2020-03     2245 non-null   float64
 79  2020-04     2241 non-null   float64
 80  2020-05     2245 non-null   float64
 81  2020-06     2242 non-null   float64
 82  2020-07     2243 non-null   float64
 83  2020-08     2248 non-null   float64
 84  2020-09     2250 non-null   float64
 85  2020-10     2246 non-null   float64
 86  2020-11     2253 non-null   float64
 87  2020-12     2241 non-null   float64
dtypes: float64(84), int64(3), object(1)
memory usage: 1.5+ MB

It appears that there are a lot of missing values for each month's rent reporting, so we're going to want to impute those.  Given that we generally know some value for a given location's rent before or after a missing month, it's a safe assumption we can fill the missing values with the median of before and after.

https://www.geeksforgeeks.org/python-pandas-dataframe-interpolate/

In [62]:
rent = df.loc[5:,:].interpolate(method='linear', axis=1)
rent

TypeError: ignored

In [ ]:
rent.info()